[user]
name = Nícolas D. Schmidt
email = nicolasdschmidt@gmail.com
signingkey = 091C4B8F0AD1F61A

[commit]
gpgSign = true

[core]
autocrlf = input

[init]
defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
